/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-tour
		font-size: 1em



/* Medium Devices, Desktops */
@media only screen and (max-width : 1023px)
	.header-plane
		display: none
	.header-logo
		max-width: 240px
	.header-logo::after
		background-image: url(../img/plane.png)
		background-size: contain
		content: ''
		height: 35px
		position: absolute
		right: -25%
		top: 0
		width: 96px
		z-index: -1
	.main-offer
		font-size: 1.25em
	.main-offer_big
		font-size: 1em
	.main-agree
		transform: scale(0.8)
	.main-tour_bg-border
		border: 5px solid #fff
		border-radius: 3px
		filter: drop-shadow(-4px 4px 1px rgba(0, 0, 0, 0.5))
		height: 140px
		legend
			padding: 0 120px 10px
	.main-tour_bg-text
		font-size: 1.5em
	.main-tour
		font-size: 0.75em
	.main-tour_image
		img:first-of-type
			box-shadow: 0 0 0 5px #fff, -8px 8px 2px 1px rgba(0, 0, 0, 0.5)
	.footer-turtle img
		max-width: 100px


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) //415
	body
		background-image: url(../img/bg-mobile.jpg)
	.header-plane
		display: none
	.header-logo
		max-width: 180px
	.header-logo::after
		right: -35%
		top: -5%
	.main-offer
	.main-offer
		font-size: 1em
		text-align: center
		margin-bottom: 0
	.main-agree
		transform: scale(0.6)
	.mobile-small
		height: 165px
	.p-0
		padding: 0 15px
	.main-tour
		font-size: 1em
		margin-bottom: 100px
	.main-tour_bg
		margin-top: 50px
	.main-tour_bg-border
		height: 110vw //???
		height: 800px //???
	.main-tour-1, .main-tour-3
		margin-right: 12%
	.main-tour-text
		//font-size: 0.65em
		//bottom: -45%
	.main-tour-text_small
		font-size: 0.8em
		line-height: 18px
		white-space: normal
	.footer
		margin-top: 150px
		p
			font-size: .84em
			margin-top: 10px
			margin-left: -5px
			//white-space: normal
	.footer-turtle img
		max-width: 66px

@media only screen and (max-width : 620px)
	.main-tour_bg-border
		height: 120vw //криво капец

@media only screen and (max-width : 480px)
	.main-offer_big
		font-size: 0.95em
		margin-top: 10px
		display: block
		margin-top: 7px
		margin-bottom: -20px
	.main-offer_price
		    font-size: 1.5em
	.main-agree
		transform: scale(0.5)
	.main-agree_button
		transform: scale(0.8)
		margin-left: 50px
	.main-agree_crab-container
		transform: scale(0.8)
		left: 100px
	.main-tour_bg
		margin-top: -15px
		&-text
			font-size: 1.1em
	.main-tour_bg-border 
		height: 125vw
		legend
			padding: 0 90px 25px
	.main-tour-text
		font-size: 0.65em
		bottom: -75px
	.main-tour-text_small
		font-size: 1em
		line-height: 18px
		white-space: normal
	.main-tour-1 .main-tour-text_small
		width: 100px //wtf?
	.hidden_br
		display: block
	.footer
		margin-top: 50px

@media only screen and (max-width : 390px)
	.main-tour_bg-border
		height: 140vw //криво капец