/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px)
	.header-plane
        	display: none
	.header-logo img
        	max-width: 156px
	.p-0
        	padding: 0 15px !important //нехорошо так делать(
	h2.main-offer
		margin-top: 5px
		margin-bottom: 25px
		font-size: 1.25em
	span.main-offer_big
        	font-size: 1.25em
	span.main-offer_price
        	font-size: 1.5em
	.main-agree
		transform: scale(.75)


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.header-logo img
        max-width: 116px