/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px)
	.header-logo
		max-width: 240px
	.main-offer
		font-size: 1.5em
	.main-agree
		transform: scale(0.8)
	.main-tour-text
		font-size: 0.8em
		


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.header-logo img
        max-width: 116px