@import "animation"
@import "colors"

body
    background: url(../img/bg.jpg) fixed
    background-size: cover
    background-color: $bg
    overflow-x: hidden
    font-family: "Segoe UI Black", sans-serif
    font-weight: 400

.header-logo
    margin-top: 20px
    text-align: center

.header
    &-plane
        width: 232px
        height: 85px
        background-image: url(../img/plane.png)
        position: absolute
        top: 53px
        left: -232px
        animation: header-plane 16s linear infinite

.main
    text-align: center
    margin-top: 25px
    margin-bottom: 45px
    &-offer //Предложение, от которого вы не сможете отказаться
        font-size: 50px
        color: $main-text
        text-transform: uppercase
        letter-spacing: 0.61px
        margin-bottom: 100px
        &_big
            font-size: 58px
            letter-spacing: 0.7px
        &_price
            color: $accent-text
            letter-spacing: 0.96px
            font-size: 79px
            &-rub
                font-weight: 800
    &-agree
        background-image: url(../img/wood.png)
        width: 575px
        height: 204px
        display: flex
        align-items: center
        justify-content: center
        position: relative
        &_button //Кнопка, очевидно
            background-color: $agree-button
            text-decoration: none
            width: 385px
            height: 110px
            border: 10px solid $border
            border-radius: 12px
            box-shadow: -2px 1px 2px 1px rgba(3, 20, 21, 0.82)
            position: relative
            box-sizing: border-box
            box-shadow: inset 9px -9px 0px 0px #ad6327, inset -9px 9px 0px 0px #fbb76f
            margin-bottom: 20px
            margin-left: 50px
            &:active
                background-color: $active-button
                box-shadow: inset -6px 6px 2px rgba(0, 0, 0, 0.35)
            &::before
                content: ''
                background-color: #fff
                width: 100%
                height: 100%
                display: block
                position: absolute
                top: 0
                left: 0
                filter: blur(15px)
                opacity: 0
                transition: all .2s
            &:hover::before
                opacity: 0.2
            &-text
                padding-top: 4px
                font-size: 73px
                text-transform: uppercase
                background: linear-gradient(15deg, #bd0500 15%, #eb0600 50%, #f42100)
                color: $accent-text
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                line-height: 73px
                position: absolute
                width: 100%
                left: 0
                top: 0
                transition: all .2s
                &:hover
                    background: linear-gradient(15deg, #a62718 15%, #bd0707 50%, #db2207)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                &:active
                    background: linear-gradient(90deg, #d6ff32 15%, #efff7f 50%, #adff00)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
        &_crab-container //Крабэ
            position: absolute
            top: -60px
            left: 140px
            &-body
                position: absolute
                z-index: 200
            &-shell
                position: absolute
                top: 0
                z-index: 1
            //animation: crab-shell 3s linear infinite